@font-face {
    font-family: "valo";
    src: url(fonts/ValorantFont.ttf);
}

body{
    /* box-sizing */
    min-height: 100vh;
    margin: 0;
    padding: 0;

    /* colors */
    background-color: #0c0c0d;
    color: #ffffff; 

    overflow-x: hidden;

    font-family: 'Rubik', 'Barlow', sans-serif;
}

body a{
    cursor: pointer;
}

header{
    /* box-sizing */
    height: 65px;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #ffffff5e;
}

header div{
    /* box-sizing */
    width: 100%;

    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body header div a{
    /* box-sizing */
    height: 100%;

    /* display */
    display: flex;
    justify-content: center;
    align-items: center;

    /* fonts */
    text-decoration: none;

    /* colors */
    color: #ffffff;
}

body header div span{
    /* box-sizing */
    padding: 0 5px;

    /* fonts */
    font-family: 'Rubik', 'Barlow', sans-serif;
    text-transform: uppercase;
}


.material-symbols-outlined { /* hamburger menu google fonts*/
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#hamburger{
    font-size: 50px;
}

div a svg{
    /* box-sizing */
    height: 65px;
    width: 65px;

    /* transform */
    transform: scale(0.6); 
}

#name{
    display: flex;
    flex-direction: column;
}

#bg{
    background: url(img/test.png);
    height: 50vh;
    background-position: center;
    background-size: cover;
}

nav{
    max-width: 80vh;
    width: 80%;
    height: 100vh;

    position: absolute;
    right: -80%;
    top: 0;
    z-index: 1000;

    background-color: #ffffff;

    color: #0c0c0d;

    /* disable le select bleu de la souris */
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */     
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: right 0.4s;
}

body header nav div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 85%;
    width: 80%;
}

body header nav div a{
    width: 100%;
    height: 25px;
    text-decoration: none;
    font-family: 'Rubik', 'Barlow', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: flex-start;
    padding: 15px 0;
}

nav div a span{
    color: #0c0c0d;
    font-size: 1.2rem;
}


#close{
    font-size: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#close{
    cursor:pointer;
}

#projets{
    display: flex;
    height: auto;
}

header nav .arrow{
    transition: .3s;
}

#bg{
    height: 315px;
    background-image: url(img/patern-1.png);
    background-position: 65% center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#bg h1{
    text-align: center;
    /*text-transform: uppercase;*/
    text-shadow: 4px 4px 8px rgb(0, 0, 0), 0 0 3rem #000000ab, 0 0 0.1em #ffffff;
    padding: 25px;
    font-family: "valo";
    font-size: 2.5rem;
}

#shape{
    clip-path: polygon(0 100%,100% 100%,0 0);
    background: #0c0c0d;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 351px;
  }

#projets span{
    color: #7d7d7e;
}

  /* loading */
  .loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #0c0c0d;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loading span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

@media screen and (min-width: 720px) {
    #bg{
        background-size: cover;
    }
  }
  